@import url(https://fonts.googleapis.com/css?family=Roboto);

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* //change */
  background-image: url("Untitled.jpeg");
  background-size:cover;
  /* background-color:beige; */
}

.container {
  display: flex;
  width: 100%;
}

.heading {
  flex: 1;
  text-align: center;
  padding: 20px;
}
#canvas {
  flex: 2;
  /* display: block; */
  margin: 150px auto auto auto;
}
/* 
#left {
  padding-left: 850px;
} */

#spot {
  box-shadow: 10 10 10 10;
}

/* .player-container {
    width: 50%;
    float: left;
}

.player {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
} */

.player_name_text {
  font-family: "Nosifer", sans-serif;
}

svg {
  margin-right: 10px;
  margin-left: 10px;
}

#player_one_remaining_piece {
  margin-top: 30px;
}

#player_two_remaining_piece {
  margin-top: 30px;
}

.player_one_colour {
  fill: #40d600;
}

.player_two_colour {
  fill: #eb00e3;
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
}

.form-group,
.time-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time-container input:focus {
  outline: 0 !important;
}

#left,
#right {
  font-size: 8em;
  padding-top: 15px;
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    /* left: 0; */
    top: 0;
    width: 1500px;
    height: 1700px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 1600px;
    margin-top: 500px;
    font-size: 80px;
    background-image: url("closeup-mill-nine-mans-morris-260nw-2110234769.jpg");
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  }

  .modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Adjust the color and opacity as needed */
    z-index: -1; /* Place the overlay behind the content */
  }
  
  /* Modal Content */
  .modal-content {
    /* background-image: url("nine-mens-morris-board-game-260nw-193607519.webp");
    background-size: cover; */
    margin: 5% auto;
    padding-bottom: 100px;
    /* border: 1px solid #888; */
    width: 80%;
    height: 70%;
    color: black;
  }

  .modal-content ul {
    /* list-style-type: disc; */
    padding: 0;
  }

  .modal-content li {
    text-align: center;
    margin-bottom: 100px;
    font-size: 50px;
    font-family: cursive;
  }  
  
  /* Close Button */
  .close {
    color: black;
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    top: 20px;
    right: 20px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  